body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem; /* Default font size */
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("./Resources/Oyster_book_river\ 3.png");
}

.background-rect {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(196, 220, 221, 0.92);
    z-index: 0;
}

header {
    position: relative;
    width: 100%;
    z-index: 2;
}

/* Navigation Bar */
.navbar {
    position: absolute;
    width: 45vw; /* Scaled width */
    height: 6vh; /* Scaled height */
    left: 27.5vw; /* Centered */
    top: 5vh; /* Adjusted top margin */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border: 0.1vw solid #748889;
    box-shadow: 0 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
    border-radius: 1.5vw;
}

.nav-item {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.8rem;
    text-align: center;
    color: #000000;
}

.button {
    position: absolute;
    width: 6vw;
    height: 5vh;
    background: #FFFFFF;
    border: 0.1vw solid #748889;
    box-shadow: 0 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
    border-radius: 1.5vw;
    text-align: center;
    line-height: 5vh;
    font-weight: 400;
    font-size: 1.25rem;
}

.sign-up {
    left: 89vw;
    top: 5.5vh;
}

.sign-in {
    left: 80.5vw;
    top: 5.5vh;
}

.search-bar {
    position: absolute;
    width: 37.5vw;
    height: 7vh;
    left: 50vw;
    top: 61vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.search-input {
    width: 33vw;
    height: 7vh;
    background: rgba(116, 219, 225, 0.85);
    border: 0.15vw solid #748889;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #000000;
}

.search-icon {
    position: relative;
    width: 3.8vw;
    height: 7vh;
    background: rgba(57, 180, 187, 0.9);
    border: 0.15vw solid #748889;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .search-symbol {
    position:absolute;
    height: 7vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 1vh;
    left: 1vw;
    cursor: pointer;
} */

.main-content {
    position: absolute;
    left: 50vw;
    top: 24vh;
    width: 33.4vw;
    height: 31vh;
    z-index: 5;
}

.title {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 600;
    color: #5C4033;
    margin-bottom: 1vh;
}

.quote {
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    color: #2A21CF;
}

.left-image {
    position: absolute;
    width: 43vw;
    height: 69vh;
    left: 4vw;
    top: 24vh;
    background: url("./Resources/header_faculty_alumni_books\ 1.png");
}
